*{
    margin:0 auto;
    align-content: center;

}
.content{
    width:1000px;
    height: 400px;
}
ul.header {
    margin: 0;
    padding: 25px;
    background-color: #73c2fb;
}
ul.header li {
  color:#ffffff;
  font-size: 25px;
    display: inline;
    margin-right:30px;
    margin-left: 100px;
    border: 0 solid #000;
    padding-left: 36px;
}

.content .logo{
    display: inline;

}
.content .logo img{
    width: 200px;
    height: 200px;
    margin: 50px 20px 50px 50px;
    border-radius: 20%;

}

img{
    padding:10px;
    width: 250px;

}

.content .information{
    display: inline-block;
    width: 570px;
    margin: 40px;

}

table, th {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
    width: 500px;


}

textarea{

    margin-left:150px;
    margin-right:150px;
}
p {
    text-align: center;
}
